/* =============
   Alerts
============= */

.alert {
  position: relative;
  border: 0;
  font-size: 14px;
  i{
    justify-content: center;
    margin-right: 10px;
   }

  .alert-link {
    font-weight: 600;
  }
}

.alert-success {
  color: $primary;
  background-color: rgba(237, 255, 251, 0.8);
  .alert-link {
    color: darken($primary,10%);
  }
  hr {
    border-top-color: darken($success,10%);
  }
}

.alert-info {
  color: $info;
  background-color: rgba(196,229,255,0.9);
  .alert-link {
    color: darken($info,10%);
  }
  hr {
    border-top-color: darken($info,10%);
  }
}

.alert-warning {
  color: $warning;
  background-color: rgba(252,233,193,0.9);
  .alert-link {
    color: darken($warning, 10%);
  }
  hr {
    border-top-color: darken($warning, 10%);
  }
}

.alert-danger {
  color: $danger;
  background-color: rgba(255,159,174,0.9);
  .alert-link {
    color: darken($danger,10%);
  }
  hr {
    border-top-color: darken($danger,10%);
  }
}