/* ==============
  Calendar
===================*/

.calendar {
  float: left;
  margin-bottom: 0;
}
.none-border {
  .modal-footer {
    border-top: none;
  }
}

.fc-toolbar {
  margin-bottom: 20px;
  h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: -15px;
    text-transform: uppercase;
  }
}

.fc-day {
  background: rgba($green,0.10);
}
.fc-unthemed td{
  border-color:rgba(255, 255, 255, 0.2);
}
.fc-unthemed th{
  border-color:rgba(255, 255, 255, 0.2);
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid $lightdark5;
  background-color:rgba($green,0.20);
}

.fc-widget-content {
  border: 1px solid $lightdark5;
}

.fc {
  th.fc-widget-header {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.fc-button {
  background: rgba($green,0.20);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $light;
  text-transform: capitalize;
  &:hover{
    background: rgba($green,0.20);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: $light;
    text-transform: capitalize;
  }
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: $light5;
}

.fc-state-highlight {
  background: #f0f0f0;
}
.fc-state-default{
  box-shadow: none;
  text-shadow: none;
}
.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed {
td.fc-today {
    background: rgba($green,0.60);
  }
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 8px 0;
  padding: 5px 5px;
  text-align: center;
  background-color: $green;
  color: rgba($white,0.50);
}

.external-event {
  color: $white;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view {
  td.fc-week-number {
    span {
      padding-right: 5px;
    }
  }
  td.fc-day-number {
    padding-right: 5px;
  }
}
