/* ==============
  Card
===================*/
.card {
  border: none;
  background: rgba($white,0.1);
  color: $muted;
}

.card-primary {
  background-color: $primary;
  border-color: $primary;
}
.card-success {
  background-color: $success;
  border-color: $success;
}
.card-info {
  background-color: $info;
  border-color: $info;
}
.card-warning {
  background-color: $warning;
  border-color: $warning;
}
.card-danger {
  background-color: $danger;
  border-color: $danger;
}

.card-header {
  border-bottom: 1px solid rgba($dark,0.05);
}

