/* ==============
  Form-Advanced
===================*/
/* Datepicker */
.datepicker {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
  color:$dark;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,.datepicker table tr td.today, .datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover,.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover  {
  background-color: $success !important;
  background-image: none;
  box-shadow: none;
  color: $white;
}
.datepicker>div{
  display: block;
}

/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px;
}
.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px;
}
.input-group-addon {
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color:   rgba($light,0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba($white,0.50);
}

/* Prism */
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: $light;
}

/* Rating */
.badge:empty {
  padding: 0;
}
.select2-container .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  background-color:  rgba($light,0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba($white,0.50);
  height: 38px;
  outline: 0;
}

.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: rgba($white,0.50);
  line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  right: 8px;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 8px;
  color: rgba($white,0.50);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
  color: $white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 7px;
  background-color:  rgba($lightdark6,0.30);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: $white transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $white transparent;
}
/*---datetimepicker---*/
.dtp-btn-cancel {
  margin-right: 5px;
}

.addon-color-picker .btn {
  padding: 8px;
  line-height: 0;
  border-color: rgba(255, 255, 255, 0.2);
}
/*--colorpicker--*/
.asColorPicker-clear {
  display: none;
  position: absolute;
  top: 8px;
  right: 45px;
  text-decoration: none;
}

.asColorPicker-trigger {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 37px;
  border: 0;
}

.asColorPicker-dropdown {
  max-width: 260px;
}

.asColorPicker-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-right: 35px;
}
.select2-dropdown{
  background-color:rgb(107, 96, 150);
  color: rgba($white,0.50);
  border-color:rgba(255, 255, 255, 0.2);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $lightdark4;
  color: $white;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color:lighten($green, 5%);
  color: rgba($white,0.50); 
}
.select2-container--default .select2-results__option[aria-selected=true]{
  background-color: $green;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5)!important; 
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgba(255, 255, 255, 0.5)!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
color: rgba(255, 255, 255, 0.5)!important;
} 
