/* ==============
  Form-elements
===================*/

label {
  font-weight: 500;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5)!important; 
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgba(255, 255, 255, 0.5)!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
color: rgba(255, 255, 255, 0.5)!important;
} 

form{
  margin-bottom: 0;
}

.form-control {
  font-size: $base-font;
  background-color:  rgba($light,0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba($white,0.50);
  &:focus {
    background-color:  rgba($light,0.1);
    border-color: rgba(255, 255, 255, 0.2);
    color: rgba($white,0.50);
    box-shadow: none;
  }
  
}
.input-group{
  input.form-control::-webkit-input-placeholder {
    color: rgba($white, 0.7);
  }
  input.form-control:-moz-placeholder {
    color: rgba($white, 0.7);
  }
  input.form-control::-moz-placeholder {
    color: rgba($white, 0.7);
  }
  input.form-control:-ms-input-placeholder {
    color: rgba($white, 0.7);
  }
}
.input-group-text{
    background-color:  rgba($light,0.1);
    border-color: rgba(255, 255, 255, 0.2);
    color: $white;
    
}

.btn-group-vertical .btn-light,
.note-editor .btn-group .btn-light{
  color: $light;
  background-color: $green;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.custom-control-input:checked~.custom-control-indicator {
  background-color: $primary;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary;
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary;
}
.custom-control-input:disabled~.custom-control-label {
  color: darken($muted, 15%);
}
.has-primary {
  .form-control {
    border-color: $primary;
    box-shadow: none;
  }
}

.has-warning {
  .form-control {
    border-color: $warning;
    box-shadow: none;
  }
}

.has-error {
  .form-control {
    border-color: $danger;
    box-shadow: none;
  }
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid $light;
}
.custom-select{
  background-color:  rgba(239, 243, 246, 0.1)!important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: url('../images/arrow.svg') no-repeat right .75rem center;
  color: $muted;
  &:focus{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba($green,0.30);
    color: $muted;
    box-shadow: none;
  }
}
.custom-file-label{
  background-color:  rgba($light,0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba($white,0.50);
}
.custom-file-label::after{
  background-color:  rgba($green,0.30)!important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba($white,0.50);
}
.custom-file-input,
.custom-file-input:focus~.custom-file-label {
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $primary;
}


/*==checkbox==*/
.mail-inbox.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.mail-inbox .custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border:1px solid  $lightdark6;
  background-color:  rgba(218, 218, 218,0.45);
}