/* ==============
  Form-Upload
===================*/
/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed  rgba(255, 255, 255, 0.2);
  background-color: rgba($light,0.1);
  border-radius: 6px;

  .dz-message {
    font-size: 30px;
  }
}