/* ==============
  General
===================*/

body {
  background-repeat: repeat;
  background: $bg-body;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  color: $white;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
  small {
    color: $lightdark4;
  }
}

h4 {
  line-height: 22px;
  small {
    color: $lightdark4;
  }
}

h5 {
  small {
    color: $lightdark4;
  }
}

b {
  font-weight: 500;
}

a {
  color: $muted;

  &:hover {
    outline: 0;
    text-decoration: none;
    color: $light5;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}
a.text-primary:focus, 
a.text-primary:hover {
  color: $muted!important;
}
code {
  color: $info;
}


.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {

  bottom: 0;
  color: $muted;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.earning-text p{
  line-height: 24px;
}

.live-tile{
  width: 170px;
  height: 90px;
  border-radius: 5px;
  background-color: rgba($white,0.1);
}
.grid-structure {
  .grid-container {
    background-color: $light5;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
}

/* Social */
.social-links {
  li {
    a {
      -webkit-border-radius: 50%;
      background-color: rgba($white,0.15);
      border-radius: 50%;
      color: $muted;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
      font-size: 12px;
    }
  }
}



.timeline-2 {
  position: relative;
  border-left: 2px solid $primary;
}

.time-item {
  position: relative;
  padding-bottom: 1px;
  border-color: $light;
}

.time-item:before,
.time-item-item:after {
  display: table;
  content: " ";
}


.time-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 5px;
  width: 14px;
  height: 14px;
  margin-left: -8px;
  background-color: $primary;
  border-color: $primary;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  content: '';
}
.item-info {
  margin-left: 15px;
  margin-bottom: 15px;
}
.custom-input{
  border-radius: 3px;
  right: -1px;
  bottom: -2px;
  margin-top: 14px;
  background-color: rgba(45, 65, 83, 0.3);
  border: 1px solid rgba(85, 143, 157, 0.3);
  
  input.form-control::-webkit-input-placeholder {
    color: rgba($white, 0.7);
  }
  input.form-control:-moz-placeholder {
    color: rgba($white, 0.7);
  }
  input.form-control::-moz-placeholder {
    color: rgba($white, 0.7);
  }
  input.form-control:-ms-input-placeholder {
    color: rgba($white, 0.7);
  }
}
.todo-list .form-control{
  color: $white;
  background-color:transparent;
  border: 1px solid transparent;
}
.todo-list .form-control:focus {
  border-color: transparent;
  background-color:transparent;
  box-shadow: none;
}

.ckbox {
  font-weight: normal;
  position: relative;
  display: block;
  line-height: 24px;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
.ckbox input[type='checkbox'] {
  opacity: 0;
  margin: 0 5px 0 0;
}
.todo-task{
  padding: 4px 0;
}
.todo-task input:checked + span {
  text-decoration: line-through;
}
.ckbox span {
  padding-left: 16px;
}
.ckbox span:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color:  transparent;
  border: 2px solid rgba($white,0.3);
  top: 1px;
  left: 0;
  border-radius: 5px;
}
.ckbox span:before, .ckbox span:after {
  line-height: 18px;
  position: absolute;
}

.ckbox input[type='checkbox']:checked + span:after {
  display: block;
}
.ckbox span:after {
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "\F12C";
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: 14px;
  text-align: center;
  color: $light-alt;
  background-color: transparent;
  line-height: 20px;
  display: none;
  border-radius: 5px;
}

 .table-data{
  .nav .nav-item a{
    display: block;
    padding: 5px 8px;
    font-size: 14px;
    color: $muted;
    border: 2px solid $muted;
  }
 }
.nav-link {
  display: block;
  padding: 6px 8px;
  font-size: 14px;
}
.nav .nav-item a{
  display: block;
  padding: 8px 8px;
  font-size: 14px;
}
.nav-tabs .nav-link.disabled,
.nav-link.disabled {
  color: $light4;
}
.dashboard .nav-pills .nav-item.show .nav-link, 
.dashboard .nav-pills .nav-link.active,
.dashboard .nav-tabs .nav-link.active {
  color: $dark !important;
  background-color:$light !important; 
}
.nav-pills .nav-item.show .nav-link, 
.nav-pills .nav-link.active,
.nav-tabs .nav-link.active {
  color: $light !important;
  background-color:rgba($light,0.3) !important; 
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border-color:transparent !important;
}
.nav-tabs {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
}
.text-color-ped{
  height: 30px;
  background-color: $white;
}
.link-color-ped{
  height: 30px;
  background-color: $muted;
}
.bg-topbar{
  background-color: $bg-topbar !important;
}
.card-header:first-child{
  background-color:rgba($light,0.25);
}
#accordion2 .card-header h5 a::before,
#accordion .card-header h5 a::before {
  content: '\f106';
  font-family: "FontAwesome";
  position: absolute;
  top: 12px;
  right: 25px;
  transition: transform .25s;
  transform: rotate(180deg);
}

#accordion2 .card-header h5 a.collapsed::before,
#accordion .card-header h5 a.collapsed::before {
  content: '\f107';
  transform: rotate(-180deg);
}
.bg-grad1{
  background: linear-gradient(to right, #2c3e50, #4ca1af); 
}
.bg-grad2{
  background: linear-gradient(to right, #085078, #85d8ce);

}
.bg-grad3{
  background: linear-gradient(to right, #16222a, #3a6073);
}
.symbol-empty {
  background-image: linear-gradient(60deg, $lightdark4 0%, $lightdark6 100%);
}

.nav-custom .nav{
  padding: 8px 4px;
  background-color:  rgba($green,0.30);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/*==Email==*/
.friend-img{
  width: 60px;
}
.mail-inbox img{
  width: 50px;
}
.border-b{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mail-inbox .list-group-item{
  background-color: transparent;
  
}
.mail-inbox .list-group-item.active{
  background-color: $green;
}
.mail-inbox .list-group-item.active:hover{
  background-color: rgba($green, 0.9);
}
.email-read .read-email img{
width: 150px;
}
.presonal-inform li b {
  width: 108px;
  display: inline-block;
  text-transform: capitalize;
  color: $muted;
  font-size: 15px;
  font-weight: 500;
}
.presonal-inform li {
  float: left;
  width: 50%;
  color: $muted;
  line-height: 30px;
}
.tab-pane .progress {
  height: 5px;
}
.profile-border {
  width: 10%;
  height: 3px;
  margin: 10px auto 15px;
  background-color: $success;
}
.detail-text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
}
.invoice hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.contact-list .list-group-item{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-left: 0;
  border-right: 0;
  
}
.testi-carousel{
  border: 4px double rgba(108, 117, 125, 1);
  border-radius: 5px;
  p b{
    font-weight: 700;
  }
}

.main-income{
  .income-data{
    position: absolute;
    z-index: 10;
  }
} 

.custom-form .form-control{
  background-color: rgba($lightdark6,0.20);
  border: 1px solid $lightdark3;
  color: $lightgray;
}
.custom-form .form-control:focus{
  background-color: rgba($lightdark6,0.50);
  border: 1px solid $lightdark6;
  color: $lightgray;
}
.widget-2 {
  margin-top: -25px;
  padding: 0 30px 30px;
  
}

.bg-grad-1{
  background: linear-gradient(to right, #614385 0%, #516395 100%)!important;
}
.blog-card h4{
  font-weight: 600;
}
.card-img-overlay{
  bottom: auto;
}
#chat ul li a i,
.custom-form ul li a i,
.card-socials ul li a i,
.blog-card .card-body ul li a i{
  font-size: 16px;
  background-color: rgba($dark, 0.50);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
}


.chat {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  margin-right: 10px;
}
.chat li {
  list-style: none;
  padding: 7px 0 5px;
  margin: 7px auto;
  font-size: 14px;
  float: left;
  width: 100%;
}
.chat li img.avatar {
  height: 45px;
  width: 45px;
  float: left;
  margin-top: 0px;
  border-radius: 50% !important;
}
.chat li.in .message {
  text-align: left;
  margin-left: 65px;
}
.nice-chat li.in .message {
  background-color: rgba(108, 117, 125, 0.32);
  border: 1px solid $lightdark3;
  color: $muted;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.chat li .message {
  display: block;
  padding: 5px;
  position: relative;
}
.chat li.out img.avatar {
  float: right;
  margin-left: 10px;
  margin-top: 0px;
}
.chat li.out .message {
  border-right: 2px solid rgba(104, 104, 104, 0.3);
  margin-right: 65px;
  text-align: right;
}
.nice-chat li.out .message {
  background-color: rgba(108, 117, 125, 0.2);
  border: 1px solid $lightdark3;
  color: $muted;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.chat li.in .message .arrow {
  display: block;
  position: absolute;
  top: 2px;
  left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.nice-chat li.in .message .arrow {
  border-right: 8px solid rgba(58, 60, 63, 1);
}
.chat li.out .message .arrow {
  display: block;
  position: absolute;
  top: 2px;
  right: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgba(50, 52, 54, 1);
}

.dashboard{
  #morris-area-chart{
    height: 290px;
  }
  #morris-donut-example{
    height: 295px;
  }
  #world-map-markers{
    height: 255px;
  }
  #multi-line-chart{
    height: 150px;
  }
  .todo-list.boxscroll{
    height: 230px;
  }
  .table-data .boxscroll{
    height: 570px;
  }
}


.dashborad-2{
  #morris-area-chart{
    height: 365px;
  }
  #morris-bar-example{
    height: 220px;
  }
  #morris-donut-example{
    height: 215px;
  }
  .tab-widget #home .boxscroll,
  .tab-widget #messages .boxscroll{
    height: 480px;
  }
  .tab-widget #chat .boxscroll{
    height: 380px;
  }
  .table-data .boxscroll{
    height: 390px;
  }
  .d3-widget{
    position: absolute;
    left: 0;
    right: 0;
  }
  .pdf p i{
    border: 2px solid lighten($green, 3%);
    padding: 10px;
    border-radius: 5px;
    background-color: $green;
    &:hover{
      border: 2px solid lighten($green, 2%);
      background-color: lighten($green, 1%);
    }
  }
}

.dashborad-3{
  #multi-line-chart{
    height: 300px;
  }
  #morris-bar-example{
    height: 280px;
  }
  .tab-widget #home .boxscroll,
  .tab-widget #messages .boxscroll{
    height: 480px;
  }
  .tab-widget #chat .boxscroll{
    height: 380px;
  }
  .table-data .boxscroll{
    height: 390px;
  }
}
.profit{
  color:rgba(118, 205, 222, 0.5);
}
.lost{
  color:rgba(255, 255, 255, 0.7);
}
.margin{
  color:rgba(211, 218, 232, 0.5);
}

.slide {
  float: none;
}
.breadcrumb-item+.breadcrumb-item::before {
  color: $muted;
}
