/* ==== =====
Modal
============= */

.modal-content{
  color: $light3;
  .modal-title{
    color: $lightdark3;
  }
}
.modal-body{
    
  .form-control {
    font-size: $base-font;
    background-color:  $white;
    border: 1px solid lighten($dark,70%);
    color: $lightdark3;
    &:focus {
      background-color: $white;
      border-color: lighten($dark,50%);
      color: $lightdark3;
      box-shadow: none;
    }
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.5)!important; 
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.4)!important;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.4)!important;
  } 
}