/* ==============
  Pagination
===================*/
.page-link {
  color: $primary;
  background-color:  rgba($green,0.30);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.page-item.active .page-link {
  background-color: $primary;
  border-color: $primary;
  color: $light !important;
}
.page-link:focus, .page-link:hover {
  color: $light;
  background-color: rgba($white,0.3);
  border-color: $lightdark4;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.page-item.disabled .page-link {
  color: $light;
  pointer-events: none;
  cursor: auto;
  background-color: rgba($primary,0.70);
  border-color: rgba($primary,0.70);
}
.custom-pagination .page-link{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-left: 14px;
}
