/* ==============
  Powerange Slider
===================*/

.range-min, .range-max {
  color: $muted;
  padding-top: 0;
}
.range-quantity {
  background-color: $primary;
}

.slider-wrapper {
  margin: 0 25px 12px;
  position: relative;
  width: 250px;
}
.display-box-label {
  font-size: 0.8em;
  position: absolute;
  right: -80px;
  top: -8px;
}

.display-box {
  background-color: $green;
  border-radius: 5px;
  font-size: 0.8em;
  height: 23px;
  right: -140px;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 50px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}



.range-handle {
  height: 16px;
  width: 16px;
  top: -7px;
}

.vertical .range-handle {
  left: -7px;
}

.vertical-wrapper {
  height: 200px;
  width: auto;
}

.slider-wrapper .small-button {
  position: absolute;
  right: -140px;
  top: -10px;
  font-size: 14px;
  line-height: 0;
}

.small-button {
  height: 25px;
  padding: 0;
  width: 90px;
}
.powerranger {
  background-image: url('../images/power_ranger_gold.png');
  background-repeat: no-repeat;
  height: 50px;
  opacity: 0;
  position: absolute;
  right: -100px;
  top: -28px;
  width: 41px;
}

.power-ranger .range-min {
  background: url('../images/heart_broken.png');
  background-repeat: no-repeat;
}

.power-ranger .range-max {
  background: url('../images/heart.png');
  background-repeat: no-repeat;
}
.power-ranger .range-handle {
  background: url('../images/power_ranger.png');
  background-repeat: no-repeat;
  border-radius: 0;
  width: 25px;
  -webkitbox-shadow: none;
  box-shadow: none;
}