/* ==============
  Tables
===================*/


.table {
  margin-bottom: 10px;
}

th {
  font-weight: 500;
}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
  padding: 10px 8px;
  vertical-align: middle;
  font-size: 14px;
}

.table-hover tbody tr:hover,.table-striped tbody tr:nth-of-type(odd),
.thead-default th{
  background-color:  rgba($light,0.1);
}


/* == Responsive Table ==*/
table.focus-on {
  tbody {
    tr.focused {
      th {
        background-color: $primary;
        color: $white;
      }
      td {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.table-rep-plugin {
  .btn-toolbar {
    display: block;
  }
  .btn-default {
    background-color:  rgba($light,0.1);
    border-color: rgba(255, 255, 255, 0.2);
    margin-right: 5px;
    color:$muted;
  }
  .btn-default{
    border-color: rgba(255, 255, 255, 0.2);
    background-color:   rgba($light,0.1);
  }
  .table-responsive {
    border: none !important;
  }
  .btn-group.pull-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  tbody {
    th {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .checkbox-row {
    padding-left: 40px;

    label {
      display: inline-block;
      padding-left: 5px;
      position: relative;
      &::before {
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        background-color: $white;
        border-radius: 3px;
        border: 1px solid $lightdark-alt;
        content: "";
        display: inline-block;
        height: 20px;
        left: -2px;
        margin-left: -20px;
        position: absolute;
        transition: 0.3s ease-in-out;
        width: 20px;
        outline: none !important;
      }
      &::after {
        color: $lightdark5;
        display: inline-block;
        font-size: 11px;
        height: 16px;
        left: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        position: absolute;
        top: -1px;
        width: 16px;
      }
    }
    input[type="checkbox"] {
      cursor: pointer;
      opacity: 0;
      z-index: 1;
      outline: none !important;

      &:disabled + label {
        opacity: 0.65;
      }
    }
    input[type="checkbox"]:focus + label {
      &::before {
        outline-offset: -2px;
        outline: none;
      }
    }
    input[type="checkbox"]:checked + label {
      &::after {
        content: "\f00c";
        font-family: 'FontAwesome';
      }
    }
    input[type="checkbox"]:disabled + label {
      &::before {
        background-color: $light;
        cursor: not-allowed;
      }
    }
    input[type="checkbox"]:checked + label {
      &::before {
        border-color: $primary;
        background-color:  $primary;
      }
      &::after {
        color: $white;
      }
    }
  }
}

.table td, .table th {
  border-top: 1px solid rgba($white,0.1);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 3px double rgba($white,0.1);
}
.table-bordered,
.table-bordered td, 
.table-bordered th{
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.table.dataTable{
  border-collapse: collapse !important;
}

.no-touch .dropdown-menu>.checkbox-row:hover, .no-touch .dropdown-menu>.checkbox-row:active {
  text-decoration: none;
  background-color: rgba(224, 223,233, 0.53);
}

.table-rep-plugin .btn-toolbar .btn-group .btn-primary:focus,
.table-rep-plugin .btn-toolbar .btn-group .btn-default:focus{
  box-shadow: none;
}

.table-rep-plugin .btn-toolbar .btn-group .btn-primary:active{
  background-color: rgba(30, 30, 30, 0.53);
    border-color: $lightdark4;
}

.sticky-table-header {
  background-color: $lightdark5;
  border-top: 1px solid $lightdark4;
  border-bottom: 1px solid  $lightdark4;
}