
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Color variables
$white: #ffffff;

$primary: #59ceb5;
$success: #5b6be8;
$info: #40a4f1;
$warning: #f5b225;
$danger: #ec536c;




$dark: #1f2b38;
$muted: #bbcace;

$lightdark2:#1C1C1C;
$lightdark3: #333333;
$lightdark4: #444444;
$lightdark5: #555555;
$lightdark6: #69679a;
$lightdark-alt: #cccccc;

$light: #eff3f6;
$light2: #e7e7e7;
$light3: #8a8a8a;
$light4: #aaaaaa;
$light5: #f5f5f5;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightgray: #dddddd;
$greylight:#c1c5e2;

$bg-body: radial-gradient(at 50% -20%, #4CA1AF, #2C3E50) fixed;
$bg-topbar: #22343e;
$dark-green:#4f887c;

$green:#365d6e;
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$shadow: 0px 0px 3px rgba(255,255,255,0.15);

$base-font: 15px;


// Width variables
$width: 100%;


// Height variables
$height: 100%;


