/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0;

  i {
    font-size: 22px;
  }
}

.mini-stat {
  box-shadow: $shadow;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.mini-stat-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.mini-stat-info {
  font-size: 14px;
  padding-top: 2px;
}

.mini-stat-info span {
  display: block;
  font-size: 24px;
}


.round {
  line-height: 60px;
  width: 60px;
  height: 60px;
  font-size: 44px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 50%;
}


.new-user table td img,
.new-user ul li img {
  margin-right: 8px;
  width: 50px;
}

.dashborad-3 .round {
  line-height: 57px;
  color: $success;
  background-color: rgba(2, 2, 2, 0.12);
  border: 1px solid rgba(45, 45, 45, 1);;
  width: 60px;
  height: 60px;
  font-size: 32px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 50%;
}

